.auth-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.auth-box {
  width: 320px;
  background: white;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-box button {
  width: 100%;
  padding: 8px;
  background: #3897f0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-box button:hover {
  background: #2f80ed;
}

.auth-box p {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 24px;
}


.card > p:first-child {
  font-weight: 600;
  margin-bottom: 8px;
}


.card img {
  border-radius: 4px;
  margin-bottom: 8px;
}


.card p {
  margin: 4px 0;
  font-size: 14px;
}


.card .actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}

.card button {
  padding: 6px 10px;
  background: #3897f0;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.card button:hover {
  background: #2f80ed;
}


.card input {
  width: 100%;
  margin-top: 8px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
}



.like-icon {
  font-size: 22px;
  cursor: pointer;
  user-select: none;
}

.like-icon.liked {
  color: red;
}
